* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #e7faee
}

div {
    width: 100vw;
    height: 100vh;
}

header {
    margin-top: 47px;
    margin-left: 42px;
}

.link-header {
    margin-right: 32px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #17233D;
}

.link-header:nth-child(1) {
    margin-right: 36px;
}

button {
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    width: 124px;
    height: 51px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
    cursor: pointer;
}

button:hover {
    opacity: 0.4;
}

button:active {
    opacity: 0.7;
}

.imagem {
    padding: 163px 85px 0 121px;
    display: inline-block;
}

.container {
    display: inline-block;
    position: absolute;
    top: 342px
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161A49;
    width: 582px;
}

p {
    margin-top: 47px;
    margin-bottom: 55px;
    width: 493px;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
}

a {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    cursor: pointer;
    width: 112px;
    height: 27px;
    }

a:hover {
    opacity: .3;
    }

a:active {
    opacity: 0.7;
}

@media screen and (max-width: 800px) {
    div {
        max-width: 24%;
        min-height: 100vh;
    }

    header {
        margin: 0;
        padding: 0;
    }
    .link-header {
        display: none;
    }
    .container {
        top: 120px;
        display: block;
        margin: 0;
        padding: 0;
        bottom:40px;

    }
    .imagem {
        display: block;
        position: relative;
        top: 50vh;
        padding: 0;
        margin: 59px 39px 22px;
        width: 312px;
        height: 288px;
    }

    button {
        width: 91px;
        height: 31px;
        margin: 20px 20px 0 284px;
        font-size: 12px;
        line-height: 18px;
    }

    h1 {
        font-size: 30px;
        line-height: 30px;
        width: auto;
        margin-left: 56px;
        margin-right: 56px;
        text-align: center;
        width: 278px;
    }

    p {
        font-size: 18px;
        line-height: 33px;
        width: 304px;
        text-align: center;
        margin: 29px 43px 26px 43px;
    }

    a {
        margin: 26px 139px 0;
        width: auto;
        text-align: center;
        position: fixed;
        /* display: inline-block; */
    
    }
    
}
@media screen and (max-width: 320px) {
    .container {
        top: 79px;
    }
    a {
        text-align: center;
        line-height: 27px;

    
    }

    .imagem {
        top: 60vh;
        width: 250px;
        height: 205px;
    
    }
}